<div class="row">
<div class="">
    <div class="row">
         <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
    <app-file-upload 
    userId="profile.email" 
    imageType="UserProfile" 
    [pictureUrl]="profile.pictureUrl"
    maxFiles="1"
    maxSize="2"
    fileExt="JPG, GIF, PNG"
    (uploadStatus)="refreshImages($event)" >
  </app-file-upload>
            <form name="profile" class="form-horizontal" #myprofile="ngForm" id="myprofile">
                <div class="form-group">
                    <label for="name"  class="control-label">Profile login name</label>
                    <div >
                        <input id="name" class="control-label" [(ngModel)]="profile.loginName" disabled name="profileLoginName">
                    </div> 
                </div>
                <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <div >
                            <input id="email"  type="email" class="form-control" [(ngModel)]="profile.email" disabled name="email">
                        </div> 
                </div>
                <div class="form-group">
                        <label for="name" class="control-label">Name</label>
                        <div >
                            <input id="name" class="form-control" [(ngModel)]="profile.name" name="name">
                        </div> 
                </div>
                <div class="form-group">
                        <label for="name" class="control-label">Image</label>
                            <div>
                                
                            </div>
                        <!-- <div >
                            <img id="name" class="form-control" [src]="profile.pictureUrl" class="image" name="name" height="80px" width="80px">
                            <input name="myFile" type="file" accept="image/*"  (change)="onChange($event)">
                        </div>  -->
                </div>
                <div class="form-group">
                        <label for="employeeID" class="control-label">Employee Id</label>
                        <div >
                            <input id="name" class="form-control" [(ngModel)]="profile.employeeID" name="employeeID">
                        </div> 
                </div>

               
            </form>
         
     </div>
</div>