
<div draggable="true" ngClass="{{dragAreaClass}}">
  <div class="row">
    <div class="col-md-12 text-center" >
      <img id="name" class="form-control" [src]="pictureUrl" class="image" name="name" height="80px" width="80px">
      <a href="javascript:void(0)" (click)="file.click()" >
        Select Image 
      </a>
      <!-- Or Drag & Drop to upload your files -->

        <input type="file" 
              #file 
              [multiple]="(maxFiles > 1)"
              (change) = "onFileChange($event)"
              style="display:none" />
        <button name="upload" (click)="upload()" >Upload</button>
    </div>
  </div>

</div>
<div class="row error" *ngIf="errors.length > 0">    
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>
  
  